In [38]:
    """
    1. Pandas를 이용하여 두개의 Data set을 읽어 들인 후 “제작국가” 
    column을 추가하고 한국영화에는 “한국”, 
    외국영화에는 “외국”이라고 표시하시오.
    """
    
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

df2 = pd.read_csv(r'역대흥행1000_영화\역대흥행500_외국영화.csv')
df = pd.read_csv(r'역대흥행1000_영화\역대흥행500_한국영화.csv')

df['제작국가']='한국'
df2['제작국가']='외국'

In [7]:
df

      순위        영화명         개봉일              매출액         관객수   스크린수 제작국가
0      1         명량  2014-07-30  135,748,398,910  17,613,682  1,587   한국
1      2       극한직업  2019-01-23  139,647,979,516  16,264,944  1,978   한국
2      3  신과함께-죄와 벌  2017-12-20  115,698,654,137  14,410,754  1,912   한국
3      4       국제시장  2014-12-17  110,913,469,630  14,257,115    966   한국
4      5        베테랑  2015-08-05  105,168,155,250  13,414,009  1,064   한국
..   ...        ...         ...              ...         ...    ...  ...
495  496   시체가 돌아왔다  2012-03-29    7,360,631,000     986,923    435   한국
496  497    원더풀 라디오  2012-01-05    7,255,598,000     986,287    474   한국
497  498     전국노래자랑  2013-05-01    6,685,476,000     977,873    581   한국
498  499       내 사랑  2007-12-18      432,940,833     977,401     56   한국
499  500   돈 크라이 마미  2012-11-22    6,808,882,099     975,462    444   한국

[500 rows x 7 columns]

In [39]:
    """ 2. 이중 한국영화의 자료에는 숫자가 1000단위만다 “,”가 있어 외국영화와 다른 형식으로 표현되어 있습니다. 
    한국영화의 DataFrame에서 정수를 표시하는 “,” 를 삭제하시오.
    또한 외국영화 자료에는 “Not a Number”를 나타내는 nan 이 있는데 이를 숫자 0으로 바꾸시오.
    (참고: Python String의 replace method를 각 column에 적용해 보는 것을 고려해 볼 수 있다
    """
    

df['관객수'] = df['관객수'].str.replace(',','')
df['스크린수'] = df['스크린수'].str.replace(',','')
df['매출액'] = df['매출액'].str.replace(',','')
df['매출액'] = df['매출액'].replace(np.NaN,0)
df2['관객수'] = df2['관객수'].str.replace(',','')
df2['관객수']= df2['관객수'].replace(np.NaN,0)
df2['스크린수']= df2['스크린수'].replace(np.NaN,0)

In [44]:
df['관객수'] = df.loc[:,'관객수'].astype('float')
df['스크린수'] = df.loc[:,'스크린수'].astype('float')
df['매출액'] = df.loc[:,'매출액'].astype('float')
df['개봉일'] = df.loc[:,'개봉일'].astype('datetime64')

순위               int64
영화명             object
개봉일     datetime64[ns]
매출액            float64
관객수            float64
스크린수           float64
제작국가            object
dtype: object

In [45]:
    """3. df. types와 같은 method 를 통해 각 column의 data type 을 출력하고 숫자로 표시되어야 할 “매출액”, “관객수”, “스크린수”는 “float64”로,  “개봉일”은 시간을 나타내는  “datetime64” 형식으로 변경 하시오 (참고: df.astype method등으로 자료의 형식을 변경할 수 있다)
    """

df['관객수'] = df.loc[:,'관객수'].astype('float')
df['스크린수'] = df.loc[:,'스크린수'].astype('float')
df['매출액'] = df.loc[:,'매출액'].astype('float')
df['개봉일'] = df.loc[:,'개봉일'].astype('datetime64')
df2['관객수'] = df2.loc[:,'관객수'].astype('float')
df2['스크린수'] = df2.loc[:,'스크린수'].astype('float')
df2['매출액'] = df2.loc[:,'매출액'].astype('float')
df2['개봉일'] = df2.loc[:,'개봉일'].astype('datetime64')

In [46]:
    """4. 이후 2개의 DataFrame 을 합치고 (pd.concat등 사용), “자료의 값이  0 인 곳은  nan으로 대체하고 이어서 df.dropna등을 사용하여 dataframe 에서 제거하시오. 유효한 자료를 보유한 영화는 총 몇 개가 남았는지 출력하시오.
    """
    
df3 = pd.concat([df,df2])
df3.replace(0,np.nan,True)
df3_nonan = df3.dropna(axis=0)
n_movies = df3_nonan['순위'].size
print(f'유효한 자료를 보유한 영화는 {n_movies}개이다')

유효한 자료를 보유한 영화는 707개이다

In [60]:
    """  5. 위에서 합쳐진 DataFrame을 이용하여 “상영관당관객수” 열(column)을 만들고 각 영화마다 관객수를 상영관수로 나누어 그 값을 계산하시오.
    """

df3_nonan['스크린당관객수'] = df3_nonan.loc[:,'관객수'] / df3_nonan.loc[:,'스크린수']

C:\Users\USer\AppData\Local\Temp/ipykernel_2632/3505528452.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_nonan['스크린당관객수'] = df3_nonan.loc[:,'관객수'] / df3_nonan.loc[:,'스크린수']

In [74]:
    """  6. 합쳐진 DataFrame을 이용하여 “매출액”, “관객수”,  “스크린당(상영관당)관객수”로 정렬한 후 각 기준 1~10위의 영화를 출력하시오.
    """
    
df_earn = df3_nonan.sort_values('매출액', ascending=False)
df_aud = df3_nonan.sort_values('관객수',ascending=False)
df_audbyscreen = df3_nonan.sort_values('스크린당관객수',ascending=False)
print('매출액의 상위 10개 영화')
print(df_earn.iloc[:10,1])
print('관객수의 상위 10개 영화')
print(df_aud.iloc[:10, 1])
print('스크린당관객수의 상위 10개 영화')
print(df_audbyscreen.iloc[:10,1])

매출액의 상위 10개 영화
1          극한직업
0            명량
9         범죄도시2
2           아바타
0    어벤져스: 엔드게임
2     신과함께-죄와 벌
1        겨울왕국 2
3          국제시장
3           알라딘
4           베테랑
Name: 영화명, dtype: object
관객수의 상위 10개 영화
0            명량
1          극한직업
2     신과함께-죄와 벌
3          국제시장
0    어벤져스: 엔드게임
1        겨울왕국 2
2           아바타
4           베테랑
6           도둑들
7       7번방의 선물
Name: 영화명, dtype: object
스크린당관객수의 상위 10개 영화
158               워낭소리
246           색즉시공 시즌2
80     님아, 그 강을 건너지 마오
29               과속스캔들
498               내 사랑
7              7번방의 선물
89              비긴 어게인
35                  써니
16                 해운대
10         광해, 왕이 된 남자
Name: 영화명, dtype: object

In [ ]:
""" 7. 영화가 제작된 연도를 바탕으로 관객수가 500만 이상인 영화의 수를 연도별로 bar chart 형태로 그리시오
"""

year

float